/*
    home.css: This website contains selectors only used in home.css

    All pages share the styles on index.css but you should create 
    one more css for each page that will contain the selected used 
    on that page only (the ones not reused in other pages).
*/
.hero-section {
    text-align: center; /* Centra el texto */
    padding: 50px; /* Espacio alrededor del contenido */
    
}

h1 {
    font-size: 48px; /* Tamaño grande para el título */
    color: #1a535c; /* Color del texto */
}

p {
    font-size: 18px; /* Tamaño del texto de la descripción */
    color: #555; /* Color más suave para el texto */
}

.home-button {
    display: inline-block; /* Permite añadir padding */
    margin-top: 20px; /* Espacio arriba del botón */
    padding: 10px 20px; /* Espacio dentro del botón */
    background-color: #4fcdc5; /* Color del botón */
    color: white; /* Color del texto del botón */
    text-decoration: none; /* Sin subrayado */
    border-radius: 5px; /* Bordes redondeados */
}

.home-button:hover {
    background-color: #1a535c; /* Color del botón al pasar el ratón */
}

