

/* Estilo del contenedor del formulario de login */

/* Estilo del contenedor del formulario de login */
.loginContainer {
    font-family: "Poppins", sans-serif;
    margin: 0; /* Elimina el margen por defecto */
    padding: 24px; /* Espaciado interno */
    background: rgba(247, 107, 107, 0.2); /* Fondo semi-transparente */
    width: 320px; /* Ancho fijo del contenedor */
    border-radius: 16px; /* Bordes redondeados */
    border: solid 5px rgba(255, 255, 255, 0.1); /* Borde semi-transparente */
    backdrop-filter: blur(25px); /* Desenfoque de fondo */
    box-shadow: 0px 0px 30px 20px rgba(79, 205, 197, 0.5); /* Sombra */
    color: white; /* Color del texto */
    display: flex; /* Usa flexbox para alinear elementos internos */
    flex-direction: column; /* Alinea los elementos en una columna */
    align-items: center; /* Centra los elementos horizontalmente */
    justify-content: center; /* Centra el contenido verticalmente */
    position: absolute; /* Posiciona el contenedor en relación al padre */
    top: 50%; /* Centra verticalmente */
    left: 50%; /* Centra horizontalmente */
    transform: translate(-50%, -50%); /* Ajusta la posición para centrar */
}

/* Estilo del título en el formulario de login */
.formularioLogin h2 {
    margin-bottom: 16px; /* Espaciado debajo del título */
    font-size: 24px; /* Tamaño de fuente del título */
    color: #1a535c;
}

/* Estilo del contenedor de los inputs */
.input-login {
    display: flex; /* Usa flexbox para alinear los inputs */
    width: 100%; /* Asegura que el contenedor de los inputs cubra todo el ancho disponible */
    position: relative; /* Posiciona el icono en relación al input */
    margin-top: 20px; /* Espaciado arriba del contenedor de inputs */
}

/* Estilo de los inputs */
.input-login input {
    width: 100%; /* Asegura que el input cubra todo el ancho disponible */
    padding: 10px 16px 10px 38px; /* Espaciado interno del input (espacio adicional a la izquierda para el icono) */
    border-radius: 99px; /* Bordes redondeados del input */
    border: solid 3px transparent; /* Borde transparente que se hace visible al hacer foco */
    background: rgba(255, 255, 255, 0.1); /* Fondo semi-transparente del input */
    outline: none; /* Elimina el contorno por defecto del input */
    caret-color: white; /* Color del cursor de texto */
    color: #1a535c; /* Color del texto del input */
    font-weight: 500; /* Grosor de la fuente del texto */
    transition: 0.25s; /* Tiempo de transición para cambios en el borde */
}

/* Estilo de los inputs al hacer foco */
.input-login input:focus {
    border: solid 3px #1a535c; /* Cambia el borde al hacer foco */
}

/* Estilo del placeholder del input */
.input-login input::placeholder {
    color: #1a535c; /* Color del texto del placeholder */
}

/* Icono dentro del input */
.input-login i {
    position: absolute; /* Posiciona el icono de forma absoluta dentro del contenedor */
    top: 50%; /* Centra verticalmente el icono */
    transform: translateY(-50%); /* Ajusta la posición vertical del icono para centrarlo */
    left: 14px; /* Espaciado desde el borde izquierdo */
    color: #1a535c;
    font-size: 18px; /* Tamaño del icono */
    transition: 0.25s; /* Tiempo de transición para cambios en el color del icono */
}

/* Estilo del icono al hacer foco en el input */
.input-login input:focus + i {
    color: white; /* Cambia el color del icono al hacer foco en el input */
}

/* Estilo de la caja para recordar y olvidar contraseña */
.tienesCuenta {
    margin-top: 20px;
    display: flex; /* Usa flexbox para alinear los elementos */
    width: 100%; /* Asegura que el contenedor cubra todo el ancho disponible */
    margin-top: 16px; /* Espaciado arriba del contenedor */
    justify-content: space-between; /* Espacia los elementos en los extremos del contenedor */
    font-size: 12px; /* Tamaño más pequeño del texto */
    color: #1a535c; /* Color ligeramente transparente */
}

.tienesCuenta a {
    color: #4fcdc5; /* Color del enlace */
    text-decoration: none; /* Elimina el subrayado del enlace */
}

.tienesCuenta a:hover {
    text-decoration: underline; /* Agrega subrayado al pasar el cursor sobre el enlace */
}

.fa-solid.fa-arrow-right-to-bracket {
    color: #1a535c; /* Cambia el color del icono */
    font-size: 24px; /* Cambia el tamaño del icono */
    background: none;
   
}

.botonLogin{
    margin-top: 10px;
    display: flex; /* Activa Flexbox */
    align-items: center; /* Centra verticalmente */
    justify-content: center; /* Centra horizontalmente */
}
/* Estilo del botón de login */
.buttonLogin {
    font-size: 20px;
    color: #1a535c;
    opacity: 0.45;
    border: 1px solid rgba(247, 107, 107, 0.1);
    border-radius: 8px;
    cursor: pointer;
    height: 30px;
    width: 30px;
    justify-content: center;
   
}

/* Estilo del botón de login al pasar el ratón sobre él */
.buttonLogin:hover {
   background: rgba(247, 107, 107, 0.2); /* Cambia el color de fondo al pasar el ratón sobre el botón */
    cursor: pointer;
}

/* movimiento del botón de login al pasar el ratón sobre él */
@keyframes bounce_513 {
    0%,
      100% {
      transform: translateX(-25%);
      animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }
  
    50% {
      transform: translateX(0);
      animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
}
  


/* Responsive */
@media (max-width: 600px) {
    .loginContainer {
        width: 90%; /* Ancho más flexible en pantallas pequeñas */
        padding: 15px; /* Reduce el espaciado interno */
    }
}